@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$background-color: #f8f9fa;
$side-bar-color: #f0f0f0;
$nav: #e9ecef;
$links: #3366cc;
$color-hover: #174ea6;
$active-color: #B6B0B0;
$border-color: #ccc;
$title-color: #474747;


%option-hover {
  color: $color-hover;
  text-decoration: underline $color-hover;
}

%form-field {
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid $border-color;
  box-shadow: 1px 1px 1px #999;
  letter-spacing: 1px;
}


body {
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  background-color: $background-color;
  letter-spacing: 1px;

}

.page-body {
  display: flex;
  flex-direction: column;

  .page-title-div {
    align-self: center;
    border-bottom: 1px solid $border-color;
    width: 80%;
    text-align: center;
  }

  .page-title {
    font-weight: 700;
    font-size: 32px;
    margin-top: 10px;
    color: $title-color;
    padding-bottom: 1px;
  }
}

.list-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 30px;
  list-style: none;

  .entry {
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
    color: #1a73e8;
    font-family: system-ui, sans-serif;

    margin-bottom: 12px;
  }

  .entry:hover {
    @extend %option-hover;
  }
}

code {
  white-space: pre;
}

textarea {
  height: 90vh;
  width: 80%;
}

.main {
  padding: 10px;
}

.search {
  @extend %form-field;
  width: 100%;
  font-size: 15px;
  line-height: 15px;

  padding-left: 10px;
  margin-left: 5px;

  height: 25px;
}

.search:focus{
  outline: none;
}

.sidebar {
  background-color: $nav;
  height: 100vh;
  padding: 20px;

  border-radius: 8px;
  font-weight: 500;
}

.sidebar-options {
  margin-bottom: 10px;
  text-decoration: none;
  color: $links;

}

.sidebar-options:hover {
  @extend %option-hover;
  color: $color-hover;
}

.sidebar h2 {
  font-family: Inter, system-ui, sans-serif;
  color: $title-color;
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
}

.sidebar-options-div {
  padding-left: 10px;

  margin-bottom: 10px;
  margin-top: 10px;

  cursor: pointer;
  width: 160px;
}

.page-view-title-div {
    align-self: center;
    width: 100%;
    text-align: center;
  }

.page-view-subtitle{
  border-bottom: 1px solid $border-color;
  margin-top: 20px;
}

.page-content-label{
  display: block;
  margin-top: 20px;
  margin-left: 50px;
}

.page-content{
  @extend %form-field;
  font-family: system-ui, sans-serif;
  height: 500px;
  width: 85%;
  overflow: auto;

  padding: 12px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.page-content-edit{
  @extend %form-field;
  margin-left: 50px;
  padding: 10px;
  color: $title-color;
}

.page-content-edit:hover{
  border: 2px solid $active-color;
  text-decoration: none;
  color: $title-color;
}

/* todo: organizar css usando sass e falta estilizar edit page */

.page-content-edit:active{
  background: $active-color;
}

.page-edit{
  border: 1px solid $border-color;
  border-radius: 24px;
  padding: 10px;

  margin-left: 5px;
  background: $nav;
  color: $links;
}

.page-edit:hover{
  border: 2px solid $border-color;
  background-color: white;
  color: $color-hover;
}

 /* create-page.html */

.page-form{
  display: flex;
  flex-direction: column;

  .page-form-title{
    @extend %form-field;
    width: 400px;
    padding-left: 10px;

  }

  .page-form-title:focus{
    outline: none;

  }

  /* form content */
  .page-form-content{
    @extend %form-field;
    height: 400px;
    padding-left: 10px;
  }

  .page-form-content:focus{
    outline: none;
  }

  /* button submit */
  .page-form-submit{
    @extend %form-field;
    width: 400px;
    margin-top: 20px;
    color: $title-color;
  }

  .page-form-submit:hover{
    border: 2px solid $active-color;
  }

  .page-form-submit:active{
    background: $active-color;
  }

  label{
    color: $title-color;
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 10px;
    letter-spacing: 1px;
  }
}