$background-color: #f8f9fa;
$side-bar-color: #f0f0f0;
$nav: #eceff1;
$links: #3366cc;
$color-hover: black;

%option-hover {
  color: $color-hover;
  text-decoration: underline overline $color-hover;
}


body {
  margin: 0;
  background-color: $background-color;
  font-family: Arial, sans-serif;

}

.page-body {
  display: flex;
  flex-direction: column;

  .page-title-div {
    align-self: center;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
  }

  .page-title {
    font-weight: 700;
    padding-bottom: 1px;
  }
}

.list-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  list-style: none;

  .entry {
    text-decoration: none;
    font-size: 30px;
    color: $links;
    font-family: system-ui, sans-serif;
  }

  .entry:hover {
    @extend %option-hover;
  }
}

code {
  white-space: pre;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}

textarea {
  height: 90vh;
  width: 80%;
}

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;

  padding-left: 5px;
  margin-left: 5px;

  border: 1px solid black;
  border-radius: 24px;
  height: 25px;
}

.sidebar {
  background-color: $nav;
  height: 100vh;
  padding: 20px;
}

.sidebar-options {
  text-decoration: none;
  color: $links;

}

.sidebar-options:hover {
  @extend %option-hover;
}

.sidebar h2 {
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
}

.sidebar-options-div {
  padding-left: 10px;

  margin-bottom: 10px;
  margin-top: 10px;

  cursor: pointer;
  width: 150px;
}

.page-view-title-div {
    align-self: center;
    width: 100%;
    text-align: center;
  }

.page-view-subtitle{
  border-bottom: 1px solid black;
}

.page-content{
  margin-left: 20px;
}

.page-edit{
  border: 1px solid black;
  border-radius: 24px;
  padding: 10px;

  margin-left: 10px;
  background: $nav;
  color: $links;
  margin-top: 100px;
}

.page-edit:hover{
  background-color: white;
  color: $color-hover;
}