@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.sidebar-options:hover, .list-entries .entry:hover {
  color: #174ea6;
  text-decoration: underline #174ea6;
}

.edit-form-content, .edit-form-submit, .page-form .page-form-submit, .page-form .page-form-content, .page-form .page-form-title, .page-content-edit, .page-content, .search {
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  letter-spacing: 1px;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  letter-spacing: 1px;
}

.page-body {
  display: flex;
  flex-direction: column;
}
.page-body .page-title-div {
  border-bottom: 1px solid #ccc;
  width: 80%;
  text-align: center;
}
.page-body .page-title {
  font-weight: 700;
  font-size: 32px;
  margin-top: 10px;
  color: #474747;
  padding-bottom: 1px;
}

.list-entries {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 30px;
  list-style: none;
}
.list-entries .entry {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  color: #1a73e8;
  font-family: system-ui, sans-serif;
  margin-bottom: 12px;
}
code {
  white-space: pre;
}

textarea {
  height: 90vh;
  width: 80%;
}

.main {
  padding: 10px;
}

.search {
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  padding-left: 10px;
  margin-left: 5px;
  height: 25px;
}

.search:focus {
  outline: none;
}

.sidebar {
  background-color: #e9ecef;
  height: 100vh;
  padding: 20px;
  border-radius: 8px;
  font-weight: 500;
}

.sidebar-options {
  margin-bottom: 10px;
  text-decoration: none;
  color: #3366cc;
}

.sidebar-options:hover {
  color: #174ea6;
}

.sidebar h2 {
  font-family: Inter, system-ui, sans-serif;
  color: #474747;
  margin-top: 5px;
  text-align: center;
  font-weight: 700;
}

.sidebar-options-div {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 160px;
}

/* page.html */
.page-content-label {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
}

.page-content {
  font-family: system-ui, sans-serif;
  height: 500px;
  width: 85%;
  overflow: auto;
  padding: 12px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.page-content-edit {
  margin-left: 50px;
  padding: 10px;
  color: #474747;
}

.page-content-edit:hover {
  border: 2px solid #B6B0B0;
  text-decoration: none;
  color: #474747;
}

.page-content-edit:active {
  background: #B6B0B0;
}

/* edit-page.html */
.page-edit {
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 10px;
  margin-left: 5px;
  background: #e9ecef;
  color: #3366cc;
}

.page-edit:hover {
  border: 2px solid #ccc;
  background-color: white;
  color: #174ea6;
}

/* create-page.html */
.page-form {
  display: flex;
  flex-direction: column;
}
.page-form .page-form-title {
  width: 400px;
  padding-left: 10px;
}
.page-form .page-form-title:focus {
  outline: none;
}
.page-form .page-form-content {
  height: 400px;
  padding-left: 10px;
}
.page-form .page-form-content:focus {
  outline: none;
}
.page-form .page-form-submit {
  width: 400px;
  margin-top: 20px;
  color: #474747;
}
.page-form .page-form-submit:hover {
  border: 2px solid #B6B0B0;
}
.page-form .page-form-submit:active {
  background: #B6B0B0;
}
.page-form label {
  color: #474747;
  display: block;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 10px;
  letter-spacing: 1px;
}

/* edit-page.html */
.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form-submit {
  width: 400px;
  margin-top: 20px;
}

.edit-form-submit:hover {
  border: 2px solid #B6B0B0;
}

.edit-form-submit:active {
  background: #B6B0B0;
}

.edit-form-content {
  height: 400px;
  width: 85%;
}

.edit-form-label {
  display: block;
  margin-top: 10px;
}

/* similar-search.html */
.similar-label {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
