{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <body>
    <div class="page-body">
        <div class="page-title-div">
            <h1 class="page-title">All Pages</h1>
        </div>


        <ul class="list-entries">
            {% for entry in entries %}
                <li>
                    <a class="entry" href="{% url 'encyclopedia:get_page' entry %}">{{ entry }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </body>

{% endblock %}